
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	border:1px solid #C9C9C9;
	padding:1px;
	position:relative;
	overflow:hidden;
	width: 902px;
	height:366px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
.items div {
	float:left;
}
*/
.scrollable .item {
	float:left;
	cursor:pointer;
	width:902px;
	heigth:370px;
	margin-left:2px;
}
.scrollable .item img {
	width:900px;
	heigth:368px;
}

/* position and dimensions of the navigator */
.navi {
    margin-left:442px;
    width:200px;
    height:20px;
}


/* items inside navigator */
.navi a {
    width:8px;
    height:8px;
    float:left;
    margin:3px;
    background:url(../img/tools/scrollable/arrow/navigator.png) 0 0 no-repeat;
    display:block;
    font-size:1px;
}

/* mouseover state */
.navi a:hover {
    background-position:0 -8px;
}

/* active state (current page state) */
.navi a.active {
    background-position:0 -16px;
}
