<div class="bloqueStandar">
  <div class="scrollable">
      <div class="items">
        <div class="item">
            <img src="/img/consulta/consultafisio.jpg"/>
        </div>
        <div class="item">
            <img src="/img/consulta/fachada1.jpg"/>
        </div>
        <div class="item">
            <img src="/img/consulta/consulta1.jpg"/>
        </div>
        <div class="item">
            <img src="/img/consulta/salaespera.jpg"/>
        </div>
        <div class="item">
            <img src="/img/consulta/despacho.jpg"/>
        </div>
      </div>
  </div>
<div class="navi"></div>
</div>
